*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: arial;
}
#box1 {
		
		align-items: center;
		background: linear-gradient(to right, rgb(3, 3, 49), rgb(83, 83, 75));
		display: flex;
		
		background-attachment: fixed;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		border-bottom: 1px;
	
		max-height: 32em;
		min-height: 22em;
		
		top: -3.25em;
        color:white
	}
        #box1 h1 {
            margin: 30px;
            width: 1300px;
			font-size: 3.25em;
            border-bottom: 1px solid rgb(252, 247, 247);
            padding-bottom: 5px;
        
		}
        #box1 p {
            margin: 30px;
        }
        #box1 a {
            margin-left: 500px;
        }
    	#box1 .inner .content {
                
				display: flex;
				align-items: center;
				
			}
        #box1 .inner .content p {
					font-size: 0.7em;
					font-weight: 600;
					letter-spacing: 0.25em;
					text-transform: uppercase;
				}

		#box1 {
			
			
		}
.actions {
        display: flex;
        background: yellow;
        background-color: transparent;
		border: 0;
		border-radius: 0;
		box-shadow: inset 0 0 0 2px #ffffff;
		color: #ffffff;
		display: inline-block;
		font-size: 0.8em;
		font-weight: 600;
		height: 3.5em;
		letter-spacing: 0.25em;
		line-height: 3.5em;
		padding: 0 1.75em;
        color: white;
        
        position: absolute;
      
}
.vidurys {
  text-align: center;
  vertical-align: middle;
  display: flex;
  position: relative;
  justify-content:center;
  align-items:center;
  flex-wrap: wrap;

}
.vidurys h2 {
    text-decoration: underline;
    
    
}
.vidurys div {
  
    
  
  font-size: 25px;
}
.vidurys .pirmas {
    background: #67afc8
;
    width: 600px;
    height: 400px;
}
.vidurys .antras {
    background: #887db7;
    width: 1100px;
    height: 400px;
}
.vidurys .trecias {
    background: #e49187;
    width: 600px;
    height: 400px;
}
.vidurys .ketvirtas {
    
    background: #d0a680;
    width: 1100px;
    height: 400px;
}
.vidurys .penktas {
    background: #7e97ce;
    width: 600px;
    height: 400px;
}
.vidurys .sestas {
    background: #7ab098;
    width: 1100px;
    height: 400px;
}